/* css styles */

.navbar-brand{
    font-family: "Consolas";
  }
  
  .navbar-dark, .navbar-light, .navbar {
      background-color: palevioletred;
  }

  .navbar-dark .navbar-nav .nav-item > .nav-link.active, .navbar-light .navbar-nav .nav-item > .nav-link.active{
      background: rgba(220,220,220,0.3);
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    color: orange;
    font-weight: 400;
  }

  .navbar-nav .nav-item > .nav-link {
      border-radius: .5rem;
      padding: 0.5rem;
  }

  .quarto-listing-category {
    font-family: "Consolas";
  }
  
  .btn-primary {
    background-color: lightpink !important;
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px palevioletred;
  }

